#video {
    height: 100vh;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.video-background {
    background-image: url("media/logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.section h1 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.section p {
    color: #fff;
    font-family: 'Robote', sans-serif;
    font-weight: 100;
}